<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% include "menu_user.html.twig" %}
        {% include "menu_admin.html.twig" %}
        {% endblock %}
        {% block footer %}
        <style>
            .div {  margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 }
            .div { background-color : black ;}
            .p { color : white ; text-align : center}
        </style> 
            <div class="div">
                <p class="p">CRP Paul et Liliane Guinot</p>
                <p class="p">24 Bd De Gery</p>
                <p class="p">94800 Villejuif</p>
            </div>
        {% endblock %}
    </body>
</html>
