{% extends 'base.html.twig' %}

{% block title %} Footer {% endblock %}

{% block body %}
{% block footer %}
        <style>
            .div {  margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 }
            .div { background-color : black ;}
            .p { color : white ; text-align : center}
        </style> 
            <div class="div">
                <p class="p">CRP Paul et Liliane Guinot</p>
                <p class="p">24 Bd De Gery</p>
                <p class="p">94800 Villejuif</p>
            </div>
        {% endblock %}
{% endblock %}
